mixin product(product)
  -
    const {
      product_id, product_title, url_direct, product_image,
      product_image_alt, brand_name, rating, rating_count,
      price, available
    } = product
  .product
    .product__card(itemprop="itemListElement" itemscope itemtype="http://schema.org/Product")
      .product__inner-wrap
        a.product__link(href=url_direct itemprop="url")
          span.product__img-wrap
            img.product__img(src=product_image alt=product_image_alt itemprop="image" title=product_title)

        span.product__favorite.product__favorite--empty(data-product-id=product_id)

      .product__name-wrap
        a.product__link.product__link--name(href=url_direct itemprop="url")
          span.product__brand(itemprop="brand")= brand_name
          span.product__name(itemprop="name")= product_title

        if +rating
          .product__rating
            +rating(+rating)
            if +rating_count % 10 === 1
              .product__recommendations (#{rating_count} рекомендация)
            else if +rating_count % 10 > 1 && +rating_count % 10 < 5
              .product__recommendations (#{rating_count} рекомендации)
            else if +rating_count % 10 === 0 || +rating_count % 10 >= 5
              .product__recommendations (#{rating_count} рекомендаций)

      .product__footer
        .product__price-wrap
          .product__price(itemprop="offers" itemscope itemtype="http://schema.org/Offer")
            span.product__price-numbers(itemprop="price") #{price.split('.', 1).join('')}
            | !{' '}
            span.product__price-currency грн
          if +available
            .product__in-stock Есть в наличии
          else
            .product__under-the-order Под заказ

        +button('Купить')
